.footer {
  background: #262626;
  color:#fff;
  width: 100%;
  text-align: center;
  font-family: Roboto;
}

.footer a {
  color:#fff;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.footer a:hover {
  color:#eee;
  background: rgba(0,0,0,0.2);
}

.footer {
  text-align: center;
  margin: 30px;
  font-size: 14px;
  padding: 10px 0;
  border-top: 1px solid rgba(255,255,255, 0.2);
}